<div class="container">
  <div class="row">
    <div class="col l8 offset-l2 s12">
      <div class="form-container">
        <div class="form-header">
          <h4>Changement de Mot de passe</h4>
        </div>
        <div class="form-body">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>

              <div class="form-inputs">
                <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
              </div>
              <div class="form-actions">
                <%= link_to 'Retour', root_path, class: "btn btn-warning" %>
                <%= f.button :submit, "Changer de mot de passe" %>
              </div>
              <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>