<div class="row">
  <div class="dashboard-container">
    <div class="dashboard-title-wrapper">
      <h4>Vos Produits</h4>
      <%= link_to 'Rechercher un Produit', products_path, class: "btn" %>
    </div>
  </div>

  <div class="dashboard-container">
    <table class="centered highlight">
      <thead>
      <tr>
        <th>Produits</th>
        <th>Producteur</th>
        <th>Origine</th>
        <th>Prix par kg</th>
        <th>Catégorie</th>
        <th>Listes d'achat</th>
      </tr>
      </thead>

      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, product_path(product) %>
            </td>
            <td>
              <%= link_to product.producer.name, producer_path(product.producer) %>
            </td>
            <td>
              <%= product.origin %>
            </td>
            <td>
              <%= product.compute_price_per_kg %>
            </td>
            <td>
              <div class="product-detail-wrapper" style="justify-content: center;">
                <div class="card-category card-subcategory"><%= product.subcategory.name %></div>
              </div>
            </td>
            <td>
              <div class="products-table-wrapper">
                <% product.get_product_purchase_lists(current_user).each do |purchase_list| %>
                    <%= link_to producer_purchase_list_path(product.producer, purchase_list), class:"purchase-list-button" do %>
                        <i class="material-icons">shopping_cart</i>
                        <p class="purchase-list-button-title"><%= purchase_list.name %></p>
                    <% end %>
                <% end %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $(document).ready(function(){

        });
    <% end %>
<% end %>