<div id="team-banner">
  <h3 class="center" style="margin-bottom: 30px;">L'Équipe</h3>
  <div class="team-wrapper">
    <div class="row">
      <div class="col m1"></div>
      <div class="col s12 m2 center">
        <%= image_tag 'lucile.png', class: "avatar-large" %>
        <h6>Lucile</h6>
        <p>Agronome</p>
      </div>
      <div class="col s12 m2 center">
        <%= image_tag 'justine.png', class: "avatar-large" %>
        <h6>Justine</h6>
        <p>Designer</p>
      </div>
      <div class="col s12 m2 center">
        <%= image_tag 'antoine.png', class: "avatar-large" %>
        <h6>Antoine</h6>
        <p>Développeur Web</p>
      </div>
      <div class="col s12 m2 center">
        <%= image_tag 'baptiste.png', class: "avatar-large" %>
        <h6>Baptiste</h6>
        <p>Data-scientist</p>
      </div>
      <div class="col s12 m2 center">
        <%= image_tag 'mathilde.png', class: "avatar-large" %>
        <h6>Mathilde</h6>
        <p>Business & Marketing</p>
      </div>
      <div class="col m1"></div>
    </div>
  </div>
</div>