<div id="home-banner">

  <div id="home-banner-title">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h5>Des produits frais, sélectionnés par nos soins, commandés en moins de 3 minutes.</h5>
        <%= simple_form_for @lead, url: save_address_path, method: :post, remote: true do |f| %>
            <div id="home-form-address">
              <i class="material-icons">location_on</i>
              <%= f.input :address, id:"user_input_autocomplete_address", label: false, placeholder:"Entrez votre addresse", wrapper_html: { class: 'address-wrapper' }, :error => false %>
              <%= f.hidden_field :street_number, id:"lead_street_number", name:"street_number" %>
              <%= f.hidden_field :route, id:"lead_route", name:"route" %>
              <%= f.hidden_field :locality, id:"lead_locality", name:"locality" %>
              <%= f.hidden_field :country, id:"lead_country", name:"country" %>
            </div>
            <div id="home-form-submit">
              <%= f.submit "Voir les Points Relais" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-arrow">
    <a href="#explanation-banner" >
      <i class="material-icons homepage-icons" style="color: white;" id="icon-arrow">keyboard_arrow_down</i>
    </a>
  </div>
</div>

<div id="explanation-banner">
  <h3 class="center">Comment ça marche?</h3>
  <div class="container explanation-container">
    <div class="row">
      <div class="col s10 offset-s1 m6 l3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'delivery-truck.png', style:"width:65px;", alt: "delivery"%>
          </div>
          <div class="explanation-box-title">
            <h4>Livraison</h4>
            <p>Nous vous garantissons une livraison pratique, à domicile ou en point relais, toutes les semaines.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 l3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'stopwatch.png', style:"width:65px;", alt: "simplicity"%>
          </div>
          <div class="explanation-box-title">
            <h4>Simplicité</h4>
            <p>Une interface rapide et intuitive vous permettant de faire vos courses en moins de 3 minutes.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 l3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'coins.png', style:"width:65px;", alt: "Price"%>
          </div>
          <div class="explanation-box-title">
            <h4>Prix</h4>
            <p>Une sélection de produits, permettant des achats groupés et des prix abordables.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 l3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'cart.png', style:"width:65px;", alt: "selection"%>
          </div>
          <div class="explanation-box-title">
            <h4>Sélection</h4>
            <p>Les meilleurs produits auprès des meilleurs fournisseurs, pour vous offrir qualité et transparence.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="team-banner">
  <h3 class="center" style="margin-bottom: 30px;">L'Équipe</h3>
  <div class="team-wrapper">
    <div class="row">
      <div class="col m1"></div>
      <div class="col s12 m2 center">
          <%= image_tag 'lucile.png', class: "avatar-large" %>
          <h6>Lucile</h6>
          <p>Agronome</p>
      </div>
      <div class="col s12 m2 center">
          <%= image_tag 'justine.png', class: "avatar-large" %>
          <h6>Justine</h6>
          <p>Designer</p>
      </div>
      <div class="col s12 m2 center">
          <%= image_tag 'antoine.png', class: "avatar-large" %>
          <h6>Antoine</h6>
          <p>Développeur Web</p>
      </div>
      <div class="col s12 m2 center">
          <%= image_tag 'baptiste.png', class: "avatar-large" %>
          <h6>Baptiste</h6>
          <p>Data-scientist</p>
      </div>
      <div class="col s12 m2 center">
          <%= image_tag 'mathilde.png', class: "avatar-large" %>
          <h6>Mathilde</h6>
          <p>Business & Marketing</p>
      </div>
      <div class="col m1"></div>
    </div>
  </div>
</div>

<div id="project-banner">
  <h3 class="center">Le Projet</h3>

</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">En savoir plus</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">L'Equipe</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Le Projet</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">La Livraison</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright
      <div class="social-networks">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</footer>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $(document).on('click', 'a[href^="#"]', function (event) {
          event.preventDefault();

          $('html, body').animate({
          scrollTop: $($.attr(this, 'href')).offset().top
          }, 800);
        });

        $('.home-arrow').mouseenter(function(){
          $('#icon-arrow').css("color", "black");
        });
        $('.home-arrow').mouseleave(function(){
            $('#icon-arrow').css("color", "white");
        });
    <% end %>
<% end %>

