<div id="home-banner">

  <div id="home-banner-title">
    <h5>Le marché en ligne des restaurateurs, en direct des producteurs</h5>
  </div>

  <div id="explication-bubble-wrapper">
    <div class="row">
      <div class="col s12 m3 ">
        <div class="explication-bubble">
          <div class="explication-bubble-title">
          Rapidité
        </div>
        <p class="center">
          Commandez vos produits du terroir en seulement quelques clics
        </p>
        </div>
      </div>
      <div class="col s12 m3 ">
        <div class="explication-bubble">
          <div class="explication-bubble-title">
            Diversité
          </div>
          <p class="center">
            Accédez à des centaines de produits d'exception en direct des producteurs
          </p>
        </div>
      </div>
      <div class="col s12 m3 ">
        <div class="explication-bubble">
          <div class="explication-bubble-title">
          Qualité
        </div>
        <p class="center">
          Mettez en valeur des produits d'exception auprès de vos clients
        </p>
        </div>
      </div>
      <div class="col s12 m3 ">
        <div class="explication-bubble">
          <div class="explication-bubble-title">
          Simplicité
        </div>
        <p class="center">
          Centralisez les commandes et les factures de vos différents fournisseurs
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-arrow">
    <a href="#explanation-banner" >
      <i class="material-icons homepage-icons" style="color: white;" id="icon-arrow">keyboard_arrow_down</i>
    </a>
  </div>
</div>

<div id="explanation-banner">
  <h3 class="center">Comment ça marche?</h3>
  <div class="explanation-container">
    <div class="row">
      <div class="col s12 m6">
        <div class="bubble-wrapper">
          <div class="step-bubble-wrapper">
            <div class="step-bubble">1</div>
            <div>Vous précisez votre demande de sourcing (produit, volume, prix, exigences...)</div>
          </div>
          <div class="step-bubble-wrapper">
            <div class="step-bubble">2</div>
            <div>Chou Blanc cherche les meilleurs producteurs qui correspondent à votre demande</div>
          </div>
          <div class="step-bubble-wrapper">
            <div class="step-bubble">3</div>
            <div>Vous recevez sous 2 jours un email avec les 5 meilleurs producteurs et leurs coordonnées</div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div id="home-banner-form">
          <%= simple_form_for @sourcing, url: save_sourcing_path, method: :post, remote: true do |f| %>
              <%= f.input :produit, placeholder:"Entrez le produit recherché" %>
              <%= f.input :exigence, placeholder:"Décrivez vos exigences quant au producteur et au produit" %>
              <%= f.input :email, placeholder:"Entrez votre email", required: true %>
              <%= f.submit "Envoyer", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'team' %>

<%= render 'project' %>

<%= render 'shared/footer' %>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $(document).on('click', 'a[href^="#"]', function (event) {
          event.preventDefault();

          $('html, body').animate({
          scrollTop: $($.attr(this, 'href')).offset().top
          }, 800);
        });

        $('.home-arrow').mouseenter(function(){
          $('#icon-arrow').css("color", "black");
        });
        $('.home-arrow').mouseleave(function(){
            $('#icon-arrow').css("color", "white");
        });
    <% end %>
<% end %>

