<div id="home-banner">
  <div class="home-navbar">
    <div id="logo-circle">
      <%= image_tag 'logo_3.png', alt:"logo", id:"logo" %>
    </div>
    <div class="home-navbar-information">
      <div class="home-navbar-information-detail">
        <p>Le Projet</p>
      </div>
      <div class="home-navbar-information-detail">
        <p>L'Equipe</p>
      </div>
    </div>
  </div>

  <div id="home-banner-title">
    <h5>Des produits frais, sélectionnés par nos soins, commandés en moins de 3 minutes.</h5>
    <form action="#" method="post" class="home-form">
      <div id="home-email-form">
        <i class="material-icons" style="margin-right:7px;">location_on</i>
        <input type="text" name="name" placeholder="Entrez votre code postal">
      </div>
      <div id="home-email-button" type="submit">
        <p>Voir les Points Relais</p>
      </div>

    </form>
  </div>
</div>

<div id="explanation-banner">
  <h3 class="center">Comment ça marche?</h3>
  <div class="container explanation-container">
    <div class="row">
      <div class="col s10 offset-s1 m3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'delivery-truck.png', style:"width:65px;", alt: "delivery"%>
          </div>
          <div class="explanation-box-title">
            <h4>Livraison</h4>
            <p>Nous vous garantissons une livraison pratique, à domicile ou en point relais, toutes les semaines.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'stopwatch.png', style:"width:65px;", alt: "simplicity"%>
          </div>
          <div class="explanation-box-title">
            <h4>Simplicité</h4>
            <p>Une interface rapide et intuitive vous permettant de faire vos courses en moins de 3 minutes.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'coins.png', style:"width:65px;", alt: "Price"%>
          </div>
          <div class="explanation-box-title">
            <h4>Prix</h4>
            <p>Une sélection de produits, permettant des achats groupés et des prix abordables.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m3">
        <div class="explanation-box">
          <div class="icon-box">
            <%= image_tag 'cart.png', style:"width:65px;", alt: "selection"%>
          </div>
          <div class="explanation-box-title">
            <h4>Sélection</h4>
            <p>Les meilleurs produits auprès des meilleurs fournisseurs, pour vous offrir qualité et transparence.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Fait avec</p>

        <p class="grey-text text-lighten-4">par l'Equipe Chou blanc</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">En savoir plus</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">L'Equipe</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Le Projet</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">La livraison</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright
      <div class="social-networks">

      </div>
    </div>
  </div>
</footer>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $('.home-arrow').mouseenter(function(){
        $('.material-icons').first().css("color", "black");
        });
        $('.home-arrow').mouseleave(function(){
        $('.material-icons').first().css("color", "white");
        });
    <% end %>
<% end %>

