<%= simple_form_for [@producer, @purchase_list] do |f| %>
    <div class="form-input-wrapper">
      <%= f.input :name, label:"Nom de la Liste d'Achat", wrapper_html: { class: "form-purchase-list-input-field"} %>
      <div class="input-field form-purchase-list-input-field">
        <p class="form-customized-label">Date de Livraison</p>
        <%= f.text_field :delivery_date, class: "datepicker delivery_date", id: "delivery_date_picker" %>
      </div>
    </div>

    <div class="form-select">
      <label class="form-label" for="frequency-dropdown">Souhaitez-vous répéter cette commande?</label>
      <br>
      <select name="frequency_list" id="frequency-dropdown">
        <% @frequencies.each do |frequency| %>
            <option value="<%= frequency[0] %>"><%= frequency[1] %></option>
        <% end %>
      </select>
    </div>
    <div class="form-actions">
      <%= link_to 'Retour', dashboard_path, class: "waves-effect waves-light btn btn-back" %>
      <%= f.submit 'Créer', class: "waves-effect waves-light btn" %>
    </div>
<% end %>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $(document).ready(function(){
        activateDatePicker();
        var delivery_date = nextFridayDate(new Date());
        var delivery_date_picker = $('#delivery_date_picker').pickadate('picker');
        delivery_date_picker.set ('select', delivery_date);
        });
    <% end %>
<% end %>