<div class="container purchase-container">

  <div class="purchase-list-title">
    <h5><%= @purchase_list.name %></h5>
    <% if @purchase_list.delivery_date %>
      <div class="purchase-list-detail">
        <i class="material-icons">date_range</i>
        <p style="margin-left: 8px;"><%= @purchase_list.delivery_date.strftime("%d %B %Y") %></p>
      </div>
    <% end %>
    <p>Récurrence: <%= @purchase_list.recurrence ? "Oui" : "Non" %></p>
    <div class="purchase-list-actions">
      <%= link_to edit_producer_purchase_list_path(@producer, @purchase_list), class: "btn" do %>
          <i class="material-icons">create</i>
      <% end %>
      <%= link_to producer_purchase_list_path(@producer, @purchase_list), method: :delete, class: "btn btn-warning", data: { confirm: "Êtes-vous sûr de vouloir supprimer cette liste d'achat?" } do %>
          <i class="material-icons">delete_forever</i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col l3 m12">
      <%= render 'shared/producer_profile', producer: @producer %>
    </div>
    <div class="col l9 m12">
      <div class="purchase-list-wrapper">
        <div class="purchase-list-table">
        <table class="centered highlight">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Conditionnement</th>
            <th>Quantité</th>
            <th>Prix /kg</th>
            <th>Prix Total</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @purchase_list.purchase_products.each do |purchase_product| %>
              <% product = purchase_product.product %>
              <tr id="purchase_product_<%= purchase_product.id %>">
                <td><%= product.name %></td>
                <td><%= "#{product.quantity} #{product.unit}" %></td>
                <td><%= best_in_place purchase_product, :quantity %></td>
                <td><%= product.compute_price_per_kg %></td>
                <td><%= purchase_product.compute_total_price_and_currency %></td>
                <td class="purchase-list-btn-delete"purchase_product_id="<%= purchase_product.id %>">
                  <i class="material-icons">delete</i>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        </div>
        <div class="purchase-list-total-wrapper">
          <h6 class="purchase-list-total-title">Total</h6>
          <p class="total-items"><%= @purchase_list.compute_total_items %> items</p>
          <p class="total-weight"><%= @purchase_list.compute_total_weight %> kg</p>
          <p class="total-price"><%= @purchase_list.compute_total_expense %> €</p>
        </div>
      </div>
    </div>
  </div>

  <div class="team-banner-title">
    <hr class="team-line producer-title-line" >
    <h4 class="producer-title-banner ">Autres Produits</h4>
    <hr class="team-line producer-title-line">
  </div>

  <div class="row">
    <% @products.each do |product| %>
        <div class="col s12 m4 l3">
          <%= render 'product_card', product: product %>
        </div>
    <% end %>
  </div>
</div>

<%= content_for :js do %>
    <%= javascript_tag do %>
        $(document).ready(function(){
            $('.modal').modal();
            jQuery(".best_in_place").best_in_place();
        });

        $('.purchase-btn-delete').on("click", function(){
            alert('Êtes-vous sûr de vouloir retire ce produit de votre liste?');
            var purchase_product_id = $(this).attr('purchase_product_id');
            $.ajax({
              type: "POST",
              url: "<%= remove_product_from_list_producer_purchase_list_path(@producer, @purchase_list) %>",
              data: { purchase_product_id: purchase_product_id },
              success: function(data){
                  var purchase_product = "#purchase_product_" + data.purchase_product_id;
                  $(purchase_product).remove();
                  var total_items= data.total_items + "items";
                  var total_weight = data.total_weight + "kg";
                  var total_price= data.total_price + "€";
                  $('.total-items').text(total_items);
                  $('.total-weight').text(total_weight);
                  $('.total-price').text(total_price);
              },
              error: function(jqXHR) {
              console.error(jqXHR.responseText);
              }
              });
        });
    <% end %>
<% end %>

