<div class="container">
  <div class="row">
    <div class="col l8 offset-l2 s12">
      <div class="form-container">
        <div class="form-header">
          <%= image_tag 'user.png', class: "picto-big" %>
          <h4>Se Connecter</h4>
        </div>
        <div class="form-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="row">
                <div class="form-inputs">
                  <%= f.input :email, required: false, autofocus: true %>
                  <%= f.input :password, required: false %>
                  <%= render "devise/shared/links" %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
              </div>
              <div class="row">
                <div class="form-actions">
                  <%= link_to 'Retour', root_path, class: "btn btn-warning" %>
                  <%= f.button :submit, "Valider" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
