<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12 ">
      <div class="form-container">
        <div class="form-header">
          <h3>Créer un Fournisseur</h3>
        </div>
        <div class="form-body">
          <%= simple_form_for @producer do |f| %>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :address %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :phone_number %>
              <select name="category_list" id="category-dropdown">
                <% @categories.each do |category| %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
              <div class="form-actions">
                <%= f.submit 'Créer', class: "waves-effect waves-light btn" %>
                <%= link_to 'Retour', producers_path, class: "waves-effect waves-light btn" %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>