<div class="container container-producer">
  <div class="row">
    <div class="col s12">
      <div class="producer-btn-wrapper">
        <%= link_to 'Retour', producers_path, class:"btn btn-back" %>
        <% if @producer.provides?(current_user) %>
            <%= link_to 'Retirer des Favoris', add_producer_to_favorites_path(producer_id: @producer.id, redirection: true), method: :post, class:"btn btn-warning" %>
        <% else %>
            <%= link_to 'Ajouter aux Favoris', add_producer_to_favorites_path(producer_id: @producer.id, redirection: true), method: :post, class:"btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="producer-wrapper">
        <div class="producer-name-banner">
          <h4><%= @producer.name %></h4>
          <%= image_tag 'user', class: "picto-big" %>
          <p><%= @producer.render_full_name %></p>
        </div>

        <div class="producer-detail-banner">
          <div class="producer-detail-wrapper">
            <i class="material-icons">location_on</i>
            <p><%= @producer.address %></p>
          </div>
          <% if !@producer.categories.empty? %>
              <div class="producer-detail-wrapper">
                <% @producer.categories.each do |category| %>
                    <div class="card-category"><%= category.name %></div>
                <% end %>
              </div>
          <% end %>
          <% if !@producer.find_subcategories.empty? %>
              <div class="producer-detail-wrapper">
                <% @producer.find_subcategories.each do |subcategory| %>
                    <div class="card-category card-subcategory"><%= subcategory %></div>
                <% end %>
              </div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="col s12 m6">
      <div class="producer-wrapper">
        <div class="producer-wrapper-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= @producer.photo %>')">
        </div>
        <div class="producer-wrapper-description">
          <h5>Description</h5>
          <p><%= @producer.description %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="team-banner-title">
    <hr class="team-line producer-title-line" >
    <h3 class="producer-title-banner ">Produits</h3>
    <hr class="team-line producer-title-line">
  </div>

  <div class="row">
    <% @products.each do |product| %>
        <div class="col s6 m4 l3">
          <%= render 'products/product_card', product: product %>
        </div>
    <% end %>
  </div>
</div>