<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12 ">
      <div class="form-container">
        <div class="form-header">
          <h3>Créer un produit</h3>
        </div>
        <div class="form-body">
          <%= simple_form_for @product do |f| %>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :price %>
              <%= f.input :quantity %>
              <%= f.input :unit %>
              <div class="form-actions">
                <%= f.submit 'Créer', class: "waves-effect waves-light btn" %>
                <%= link_to 'Retour', products_path, class: "waves-effect waves-light btn" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>