<div class="container container-producer">
  <div class="row">
    <div class="col s12">
      <div class="producer-btn-wrapper">
        <%= link_to 'Retour', products_path, class:"btn btn-back" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8">
      <div class="product-wrapper">
        <div class="row">
          <div class="col s12 m6">
            <div class="product-description-wrapper">
              <div class="product-wrapper-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                  url('<%= @product.photo %>')">
              </div>
              <div class="producer-wrapper-description">
                <h5>Description</h5>
                <p><%= @product.description %></p>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="product-informaton-container">
              <h5> <%= @product.name %></h5>
              <div class="product-detail-wrapper">
                <p>Conditionnement:</p>
                <div class="card-name-detail"><p><%= @product.conditionning %></p></div>
              </div>
              <div class="product-detail-wrapper">
                <i class="material-icons">flag</i>
                <div class="card-name-detail"><p><%= @product.origin %></p></div>
              </div>
              <div class="product-detail-wrapper">
                <p>Quantité:</p>
                <div class="card-name-detail"><%= @product.quantity%><%= @product.unit %></div>
              </div>
              <div class="product-detail-wrapper" style="align-items: baseline;justify-content: space-between;">
                <div class="product-price-per-kg"><%= @product.compute_price_per_kg%></div>
                <div class="product-price"><%= @product.price_with_currency %></div>
              </div>
              <div class="product-detail-wrapper">
                <div class="card-category card-subcategory"><%= @product.subcategory.name %></div>
              </div>
              <div class="product-detail-wrapper" style="margin-top: 10px;">
                <a class="waves-effect waves-light btn modal-trigger" id="order-button" href="#order-modal">
                  <div class="product-detail-wrapper">
                    <i class="material-icons" style="margin-right: 5px;">add_shopping_cart</i>
                    Commander
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <%= render 'shared/producer_profile', producer: @producer %>
    </div>
  </div>

  <div class="team-banner-title">
    <hr class="team-line producer-title-line" >
    <h3 class="producer-title-banner ">Autres Produits</h3>
    <hr class="team-line producer-title-line">
  </div>

  <% if @products %>
    <div class="row">
      <% @products.each do |product| %>
          <div class="col s12 m4 l3">
            <%= render 'products/product_card', product: product %>
          </div>
      <% end %>
    </div>
  <% end %>

  <%= render 'order_modal' %>
</div>